ebin
*.beam
*.gz
*~
*.coverdata
doc
logs
deps
.eunit
.directory
.rebar
src/protobuffs_parser.erl
src/protobuffs_scanner.erl
erl_crash.dump
test/Emakefile

# ignore output of 'rebar escriptize'
protobuffs

# ignore generated erl and hrl files if protobuffs is run in current dir
/*.erl
/*.hrl
