[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src", "src/**", "test"],
        filter => "*.erl",
        rules => [{elvis_style, macro_names},
                  {elvis_style, macro_module_names},
                  {elvis_style, nesting_level, #{level => 8}},
                  {elvis_style, god_modules, #{limit => 35}},
                  {elvis_style, invalid_dynamic_call, #{ignore => [spts_test_utils]}},
                  {elvis_style, no_behavior_info},
                  {
                    elvis_style,
                    module_naming_convention,
                    #{regex => "^([a-z][a-z0-9]*_?)*(_SUITE)?$",
                      ignore => []}
                  },
                  {elvis_style, state_record_and_type},
                  {elvis_style, no_spec_with_records},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 ]
       },
      #{dirs => ["."],
        filter => "Makefile",
        rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                  {elvis_project, git_for_deps_erlang_mk, #{ignore => [], regex => "https://.*"}}]
       }
     ]
    }
   ]
 }
].
