{erl_opts, [debug_info]}.

{deps,[
       {meck,"0.*", {git, "https://github.com/eproxus/meck", {branch, "master"}}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
