{erl_opts, [debug_info]}.

{deps,[
       {meck, "0.8.3", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
